* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alice", serif;
}

body {
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#page {
    width: 800px;
    padding: 24px;
    margin: 36px auto;
    background-color: #F0E8C2;
    border-radius: 24px;
}

#page img {
    border-radius: 16px;
}

#page h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
}

#page h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    color: #291B1A;
}

#page p {
    line-height: 150%;
    color: #573A37;
}

.txt-margin-bottom {
    margin-bottom: 20px;
}

#page ul {
    list-style-position: inside;
}

#page ul li {
    color: #573A37;
}

footer {
    text-align: center;
    color: #F0E8C2;
    margin-bottom: 48px;
}